body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

#prescriptions {
    text-align: left;
    padding: 20px;
}
